* {
  text-align: center;
}

.todoWrapDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
}


/* styling heading */

.heading {
  background-color: #264653;
  width: 50%;
}

.headerText {
  color:  #F4A261
}

.headerIcon {
  color: #E9C46A 
}

.todos {
  background-color: #E9C46A;
}

.bord {
  border: solid;
  border-color:  #264653;
}