@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  text-align: center;
}

.headerText {
  font-family: "Righteous";
  letter-spacing: 0.2rem;
}

.todoWrapDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
}

/* styling heading */

.heading {
  background-color: #264653;
  width: 50%;
}

.headerText {
  color: #f4a261;
}

.headerIcon {
  color: #e9c46a;
}

.todos {
  background-color: #e9c46a;
}

.bord {
  border: solid;
  border-color: #264653;
}
